
body {
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 10vw;
    font-family: 'Abhaya Libre', serif;

    img {
        height: 15vw;
    }
}

#filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 20px;
    
    select {
        width: 100%;
        padding: 10px;
        background-color: #eee;
        border: none;
        border-radius: 10px;
    }
}

table {
    
}