
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 10vw;
    font-family: 'Abhaya Libre', serif;

    img {
        height: 15vw;
    }
}

table {
    
}