<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coeur'momètre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="templates/style/style.css">
</head>
<body>
   <h1>
        <img src="templates/img/logo.png" alt="logo">
        Cœur’momètre
    </h1>

    <table>
        <thead>
            <tr>
                <td>Resultat</td>
                <td>Unité</td>
                <td>Date</td>
                <td>Utilisateur</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <script src="templates/script/jquery.min.js"></script>
    <script src="templates/script/script.js"></script>
</body>
</html>